header{
    background-color:lightgray;
    margin:0px;
    padding:0px;
    max-width: 640px;
    margin-left:25%;
}
h1{
    text-align: center;
    margin:0px;
    padding:20px;
}

.my-form{
    background-color: #f4f4f4;
    max-width: 640px;
    /* align-items:center; */
    padding:10px;
    margin-left:25%;
    box-sizing: border-box;
    position:relative;
    height:100%;
}


.my-form input{
    width:97%;
    margin:10px;
    box-sizing: border-box;
}
.my-form textarea{
    width:97%;
    margin:10px;
    box-sizing:border-box;
}

.my-form #cancel{
    width:20%;
    position:absolute;
    right:25%;
}

.my-form #save{
    width:20%;
    position:absolute;
    right:2%;
}





.msg{
    max-width: 640px;
    padding:10px;
    margin-left:25%;
    box-sizing: border-box;
}

.my-ul{
    max-width: 640px;
    margin-top:30px;
    margin-left:25%;
    box-sizing: border-box;
    background-color:#f6f6f6;
    list-style-type: none;
    padding:10px;
}

li{
    margin-top:5px;
    padding:2px;
    background-color:white;
    border:1px solid black;
}

h3{
    margin:2px;
}

h5{
    margin:2px;
    display:none;
}